/*media queries*/

// sm: 576px,
// md: 768px,
// lg: 1042px,
// xl: 1290px

$mq-xs: 576px;
$mq-sm: 768px;
$mq-md: 1042px;
$mq-lg: 1290px;

$maxw-xs: "(max-width: "#{$mq-xs - 1}")";
$maxw-sm: "(max-width: "#{$mq-sm - 1}")";
$maxw-md: "(max-width: "#{$mq-md - 1}")";
$maxw-lg: "(max-width: "#{$mq-lg - 1}")";

$minw-xs: "(min-width: "#{$mq-xs}")";
$minw-sm: "(min-width: "#{$mq-sm}")";
$minw-md: "(min-width: "#{$mq-md}")";
$minw-lg: "(min-width: "#{$mq-lg}")";

@mixin maxw($breakpoint) {
  //New breakpoints
  // mb = 400px
  // mbl = 575px
  //tb = 768px
  //tbl = 991px
  //desk = 1200px
  //desklg = 1600px

  //  1 EM = 16PX //
  @if $breakpoint == desklg {
    @media (max-width: 100em){@content;}
  }
  @else if $breakpoint == desk {
    @media (max-width: 75em) { @content ; }
  }
  @else if $breakpoint == tblt {
    @media (max-width: 64.000em) { @content ; }
  }
  @else if $breakpoint == tbl {
    @media (max-width: 61.938em) { @content ; }
  }
  @else if $breakpoint == tb {
    @media (max-width: 47.938em) { @content ; }
  }
  @else if $breakpoint == mbl {
    @media (max-width: 35.938em) { @content ; }
  }
  @else if $breakpoint == mb{
    @media (max-width: 30em) { @content ; }
  }
    //New breakpoints
  @else if $breakpoint == xs {
    @media #{$maxw-xs} {
      @content;
    }
  }
  @else if $breakpoint == sm {
    @media #{$maxw-sm} {
      @content;
    }
  }
  @else if $breakpoint == md {
    @media #{$maxw-md} {
      @content;
    }
  }
  @else if $breakpoint == lg {
    @media #{$maxw-lg} {
      @content;
    }
  }
  @else {
    @media (max-width: "#{$breakpoint}") {
      @content;
    }
  }
}
@mixin maxwc($custom) {
  @media (max-width:$custom){@content;}
}
// Up
// -----------------------------------------
@mixin minw($breakpoint) {
  //New breakpoints
  // mb = 400px
  // mbl = 575px
  //tb = 768px
  //tbl = 991px
  //desk = 1200px
  //desklg = 1600px

  //  1 EM = 16PX //
  @if $breakpoint == desklg {
    @media (min-width: 100em){ @content; }
  }
  @else if $breakpoint == desk {
    @media (min-width: 75em){ @content; }
  }
  @else if $breakpoint == tblt {
    @media (min-width: 64.000em) { @content ; }
  }
  @else if $breakpoint == tbl {
    @media (min-width: 61.938em) { @content ; }
  }
  @else if $breakpoint == tb {
    @media (min-width: 47.938em) { @content ; }
  }
  @else if $breakpoint == mbl {
    @media (min-width: 35.938em) { @content ; }
  }
  @else if $breakpoint == mb {
    @media (min-width: 25.000em) { @content ; }
  }
  @else if $breakpoint == mblx {
    @media (min-width: 21.875em) { @content ; }
  }
    //New breakpoints

  @else if $breakpoint == xs {
    @media #{$minw-xs} {
      @content;
    }
  }
  @else if $breakpoint == sm {
    @media #{$minw-sm} {
      @content;
    }
  }
  @else if $breakpoint == md {
    @media #{$minw-md} {
      @content;
    }
  }
  @else if $breakpoint == lg {
    @media #{$minw-lg} {
      @content;
    }
  }
  @else {
    @media (min-width: "#{$breakpoint}") {
      @content;
    }
  }
}
@mixin minwc($custom) {
  @media (min-width:$custom){@content;}
}

@mixin custom-device($min, $max) {
  @media all and (min-width: "#{$min}") and (max-width: "#{$max}") {
    @content;
  }
}
