.rtica__footer {
    background: $grayBold;
    padding: 30px 0;
    &__flex {
        @include minw(tb) {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        p {
            font-family: $robotoRegular;
            font-size: 14px;
            letter-spacing: 0.51px;
            color: $grayLight;
            text-align: center;
            @include minw(tb) {
                margin: 0;
            }
        }
        img {
            width: 100%;
            @include minw(tb) {
                width: auto;
            }
        }
    }
}