.rtica__header {
    background: $orange;
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &__flex {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__redes {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li {
            margin-right: 30px;
            a {
                color: $white;
            }
        }
    }
    &__menu {
        display: flex;
        align-items: center;
        &__account {
            color: $white;
            font-family: $robotoBold;
            font-size: 15px;
            margin-right: 40px;
            text-decoration: none;
        }
    }
}