p {
    font-family: $robotoBold;
    font-size: 14px;
}
.rtica__banner {
    position: relative;
    margin-bottom: 50px;
    &__info {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate( -50%, -50%);
        z-index: 500;
        @include minw(tbl) {
            max-width: 700px;
            margin: auto;
        }
        .logo img {
            margin: auto;
            max-width: 150px;
            @include minw(tbl) {
                max-width: 200px;
            }
        }
        .title {
            color: $white;
            font-family: $robotoBold;
            font-size: 32px;
            text-align: center;
            margin: 70px 0;
            @include minw(tbl) {
                font-size: 50px;
            }
            span {
                color: $orangeLight;
                i {
                    font-size: 40px;
                    @include minw(tbl) {
                        font-size: 55px;
                    }
                }
            }
        }
        .rtica__btn {
            margin: auto;
        }
    }
    .swiper-slide {
        height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;
        z-index: 500;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            display: block;
            background: rgba($black, 0.6);
            z-index: -500;
        }
        &.slide1 {
            background-image: url('#{$imgs}banner-slide1-mb.png');
            @include minw(tb) {
                background-image: url('#{$imgs}banner-slide1.png');
            }
        }
        &.slide2 {
            background-image: url('#{$imgs}banner-slide2-mb.jpg');
            @include minw(tb) {
                background-image: url('#{$imgs}banner-slide2.jpg');
            }
        }
    }
    .flat-button {
        position: absolute;
        bottom: 2vh;
        left: 50%;
        transform: translate(-50%);
        z-index: 500;
        text-decoration: none;
        span {
            font-family: $robotoBold;
            font-size: 14px;
            color: $white;
        }
    }
}

.rtica__info {
    padding: 20px 0;
    &-flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__col {
            &:nth-child(1) {
                width: 100%;
                @include minw(tb) {
                    width: 55%;
                }
            }
            &:nth-child(2) {
                width: 100%;
                @include minw(tb) {
                    width: 45%;
                }
            }
        }
        .info {
            padding: 0 20px;
            position: relative;
            left: 0;
            @include minw(tb) {
                padding: 0 0 0 10%;
                left: -70px;
            }
            @include minw(tbl) {
                left: -160px;
            }
        }
        .info .title {
            color: $black;
            font-family: $robotoBold;
            font-size: 32px;
            @include minw(tb) {
                font-size: 40px;
            }
        }
        .info .excert {
            color: #4d4d4d;
            font-family: $myriadProRegular;
            font-size: 14px;
            line-height: 20px;
        }
        img {
            width: 100%;
            display: block;
            height: auto;
        }
    }
}

.rtica__promo {
    .rtica__container {
        @include minw(tbl) {
            padding: 0 4%;
        }
    }
    @include minw(tb) {
        padding-bottom: 60px;
    }
    &__flex {
        @include minw(tb) {
            display: flex;
            justify-content: space-between;
        }
        &__col {
            @include minw(tb) {
                width: 48%;
                &:nth-child(2) {
                    display: flex;
                    flex-direction: column-reverse;
                }
            }
        }
        &__col h2 {
            font-family: $robotoBold;
            font-size: 32px;
            color: $black;
            text-align: center;
            margin: 0 0 25px;
            @include minw(tb) {
                font-size: 40px;
            }
            span {
                color: $orangeLight;
            }
        }
        .rtica__grid {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-auto-flow: row dense;
            grid-gap: 20px;
            @include minw(tb) {
                grid-template-columns: repeat(3,1fr);
            }
            .image {
                border-radius: 15px;
                overflow: hidden;
                position: relative;
                cursor: pointer;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba($black, 0.5);
                    z-index: 100;
                }
                &.active {
                    &:before {
                        content: none;
                    }
                }
            }
            img {
                width: 100%;
                display: block;
                height: auto;
            }
            .mb-10 {
                margin-bottom: 10px;
            }
            h3 {
                color: $black;
                font-family: $robotoBold;
                font-size: 16px;
                margin: 0 0 5px;
            }
            .rtica__form {
                position: relative;
                input {
                    display: block;
                    width: 100%;
                    border: 1px solid $black;
                    border-radius: 5px;
                    font-size: 13px;
                    color: $black;
                    outline: none;
                    padding: 8px 30%;
                    font-family: $robotoBold;
                    text-align: center;
                    @include minw(tb) {
                        padding: 10px 26%;
                    }
                    &:focus {
                        outline: none;
                    }
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 20%;
                    transform: translateY(-50%);
                    color: #1a1a1a;
                    font-family: $robotoRegular;
                    font-size: 12px;
                }
            }
        }
        .rtica__form-style {
            margin: 30px 0 0;
            @include minw(tb) {
                width: 100%;
                max-width: 500px;
                margin: auto;
            }
            input {
                display: block;
                width: 100%;
                border: 1px solid $orange;
                border-radius: 5px;
                color: $black;
                outline: none;
                padding: 10px 30%;
                font-size: 13px;
                font-family: $robotoBold;
                text-align: center;
                @include minw(tb) {
                    font-size: 16px;
                    padding: 12px 26%;
                }
                &:focus {
                    outline: none;
                }
            }
        }
        .rtica__form__group {
            margin-top: 20px;
            @include minw(tb) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-auto-flow: row dense;
                grid-gap: 20px;
            }
            &__input {
                margin-bottom: 20px;
                @include minw(tb) {
                    margin-bottom: 0;
                }
                input,
                select,
                textarea {
                    text-align: left;
                    padding: 12px 10px;
                }
            }
        }
        .rtica__btn {
            margin: 15px auto 0;
            max-width: 100%;
        }
        .image-resul {
            margin: 30px 0;
            img {
                width: 100%;
                display: block;
                width: 100%;
                max-width: 100%;
                @include minw(tb) {
                    width: auto;
                    margin: auto;
                }
            }
        }
        .container-chebox {
            display: block;
            position: relative;
            font-family: $robotoRegular;
            padding-left: 30px;
            margin: 30px 0 15px;
            cursor: pointer;
            font-size: 14px;
            line-height: 18px;
            user-select: none;
        }
        .container-chebox input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 20px;
            width: 20px;
            background-color: #d0d0d0;
            border-radius: 5px;
            border: 1.5px solid #838383;
        }
        .container-chebox:hover input ~ .checkmark {
            background-color: #ccc;
        }
        .container-chebox input:checked ~ .checkmark {
            background-color: $orangeLight;
        }
        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
        .container-chebox input:checked ~ .checkmark:after {
            display: block;
        }
        .container-chebox .checkmark:after {
            left: 5px;
            top: 2px;
            width: 3px;
            height: 7px;
            border: solid white;
            border-width: 0 3px 3px 0;
            transform: rotate(45deg);
        }
        a {
            text-decoration: none;
            color: $orangeLight;
        }
        .image-delivery {
            @include maxw(tb) {
                display: none;
            }
            img {
                max-width: 400px;
                margin: 50px -43px 0 auto;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }
        input[type=number] {
            -moz-appearance: textfield;
        }
        :disabled {
            background: $white;
        }
    }
}

.rtica__detail {
    position: relative;
    img {
        width: 100%;
        max-width: 100%;
        display: block;
        height: 320px;
        object-fit: cover;
        @include minw(tbl) {
            width: auto;
            height: auto;
        }
    }
    .title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $robotoBold;
        color: $white;
        font-size: 36px;
        z-index: 500;
        width: 100%;
        padding: 0 20px;
        margin: 0;
        text-align: center;
        @include minw(tbl) {
            font-size: 50px;
        }
    }
    .swiper-pagination {
        .swiper-pagination-bullet {
            background: $white;
            outline: none;
        }
        @include minw(tbl) {
            display: none !important;
        }
    }
    .swiper-slide {
        position: relative;
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            background: rgba($black, 0.6);
            z-index: 500;
        }
    }
}
