//colors
$white: #ffffff;
$black: #000000;
$orange: #d77d20;
$orangeLight: #ffb300;
$grayBold: #262729;
$grayLight: #777;

//fonts
$myriadProRegular: 'myriadProRegular', sans-serif, helvetica;
$pantonBlackCaps: 'pantonBlackCaps', sans-serif, helvetica;
$robotoBlack: 'robotoBlack', sans-serif, helvetica;
$robotoBold: 'robotoBold', sans-serif, helvetica;
$robotoRegular: 'robotoRegular', sans-serif, helvetica;

//images
$imgs: '../../public/images/';
