<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Rustica</title>
</head>
<body>
    <header class="rtica__header">
        <div class="rtica__container">
            <div class="rtica__header__flex">
                <ul class="rtica__header__redes">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <div class="rtica__header__menu">
                    <a href="#" class="rtica__header__menu__account">Mi cuenta</a>
                    <div class="rtica__header__search">
                        <img src="../public/images/icon-search.svg"/>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <main>
        <section class="rtica__banner">
            <div class="rtica__banner__info">
                <div class="rtica__container">
                    <div class="logo">
                        <img src="../public/images/logo-rustica.png" />
                    </div>
                    <h2 class="title">
                        Prepaga tu consumo y llévate <span>20% <i class="fa fa-plus" aria-hidden="true"></i></span>
                    </h2>
                    <a href="#app-rustica" class="rtica__btn">Comprar</a>
                </div>
            </div>
            <div class="swiper-container rtica__banner-principal">
                <div class="swiper-wrapper">
                    <div class="swiper-slide slide1"></div>
                    <div class="swiper-slide slide2"></div>
                </div>
            </div>
            <a href="#app-rustica" class="flat-button">
                <span>Scroll</span>
				<img src="./public/images/arrow.svg" alt="flecha abajo"/>
			</a>
        </section>

        <section id="app-rustica"class="rtica__promo">
            <div class="rtica__container">
                <div class="rtica__promo__flex">
                    <div class="rtica__promo__flex__col">
                        <h2>Escoge tu <span>Promo</span></h2>
                        <div class="rtica__grid">
                            <div
                                class="rtica__grid__item"
                                v-for="(item, key) in listCard"
                                :key="key"
                                @click.prevent="myFilter(item)"
                            >
                                <div
                                    class="image"
                                    :class="{'active': isActive == item}"
                                >
                                    <img :src="item.image" />
                                </div>
                            </div>
                            <div class="rtica__grid__item">
                                <h3>Insertar el monto:</h3>
                               <div class="rtica__form mb-10">
                                    <span>S/</span>
                                    <input
                                        :disabled="disabled === true"
                                        type="number"
                                        v-model="isActive.price"
                                        @keypress="onlyNumber"
                                    >
                               </div>
                               <h3>Llévate:</h3>
                               <div class="rtica__form">
                                    <span>S/</span>
                                    <input
                                        v-if="disabled === true"
                                        disabled
                                        type="number"
                                        v-model="priceOffert"
                                    >
                                    <input
                                        v-if="disabled === false"
                                        disabled
                                        type="number"
                                        v-model="offertDynamic"
                                    >
                               </div>
                            </div>
                        </div>
                        <label class="container-chebox">
                            <input type="checkbox">
                            <span class="checkmark"></span>
                            Acepto <a href="#">términos y condiciones</a> y la <a href="#">Política de Privacidad</a>
                        </label>
                        <div class="image-delivery">
                            <img src="../public/images/icono-delivery.svg" />
                        </div>
                    </div>
                    <div class="rtica__promo__flex__col">
                        <div class="rtica__form-style">
                            <input
                                type="number"
                                v-model="isActive.price"
                                disabled
                            >
                            <div class="rtica__form__group">
                                <div class="rtica__form__group__input">
                                    <input type="number" placeholder="DNI">
                                </div>
                                <div class="rtica__form__group__input">
                                    <input type="text" placeholder="Nombre y apellido">
                                </div>
                                <div class="rtica__form__group__input">
                                    <input type="text" placeholder="Correo electrónico">
                                </div>
                                <div class="rtica__form__group__input">
                                    <input type="number" placeholder="Teléfono">
                                </div>
                            </div>
                            <button type="submit" class="rtica__btn">Pagar</button>
                        </div>
                        <div class="image-resul">
                            <img :src="imageResult" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="rtica__detail">
            <div class="swiper-container rtica__banner-detail">
                <h2 class="title">Lorem ipsum dolar amet</h2>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="../public/images/slide1.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/images/slide2.jpg" />
                    </div>
                    <div class="swiper-slide">
                        <img src="../public/images/slide3.jpg" />
                    </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </section>
        <section id="rustica-info" class="rtica__info">
            <div class="rtica__info-flex">
                <div class="rtica__info-flex__col">
                    <img src="../public/images/pollos.png" />
                </div>
                <div class="rtica__info-flex__col">
                    <div class="info">
                        <h2 class="title">Lorem ipsum dolar</h2>
                        <p class="excert">
                            Lorem ipsum dolar mater irmit dolar soder,
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder,
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder,
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                            Lorem ipsum dolar mater irmit dolar soder
                        </p>
                    </div>
                    <img src="../public/images/pizzas.png" />
                </div>
            </div>
        </section>
        <footer class="rtica__footer">
            <div class="rtica__container">
                <div class="rtica__footer__flex">
                    <div class="rtica__footer__col">
                        <p>2020 © RClub. Todos los derechos reservados.</p>
                    </div>
                    <div class="rtica__footer__col">
                        <img src="../public/images/tarjetas.jpg"/>
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

</body>
</html>
