* {
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

img {
    display: block;
}

.rtica__container {
    width: 100%;
    padding: 0 20px;
    @include minw(tbl) {
        padding: 0 7%;
    }
}

.rtica__btn {
    width: 100%;
    max-width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    outline: none;
    cursor: pointer;
    background: $orange;
    border: 1px solid transparent;
    color: $white;
    font-family: $robotoBold;
    font-size: 18px;
    padding: 12px 5px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
    &:hover {
        @include minw(tbl) {
            background: $white;
            border: 1px solid $orange;
            color: $orange;
        }
    }
}

 .swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}